{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="wrapper">
        <div class="example-wrapper">
            {% if app.user %}
            <h1>Bonjour {{ user.pseudo }}! ✅</h1>
            {% else %}
            <h1>Bienvenue sur videoFormation</h1>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}
