{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<section id="formation_index">
    <div class="wrapper">
        <div class="content">
            <h1>Liste des formations</h1>
            <div class="list_formation">
                {% for formation in formations %}
                    <div class="card">
                        <a href="{{ path('formation_show', {'id': formation.id}) }}">
                            <div class="card-content">
                                <h4>{{formation.title}}</h5>
                                <img src="./uploads/images/{{formation.image}}" alt="logo technology">
                                <p>Durée : {{formation.duration ? formation.duration|date('H:i') : ''}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</section>

{% endblock %}
