{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<section id="formation_index">
    <div class="wrapper">
        <div class="content">
            <h1>Liste des formations</h1>

            {% for formation in formations %}
                <div class="card">
                    <a href="">
                        <div class="card-content">
                            <h5>{{formation.title}}</h5>
                            <img src="assets/img/pasdephoto.jpg" alt="photo">
                            <p>Durée : {{formation.duration ? formation.duration|date('H:i') : ''}}</p>
                            <p>La categorie</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
