{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<section id="formation_index">
    <div class="wrapper">
        <div class="content">
            <div>
                <h1>Liste des formations</h1>
                <form id="category_form">
                    <select id="select_category" name="formation_form[category]" class="input">
                        <option value="0">Toute</option>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            
            <div class="list_formation">
                {% include "formation/_content.html.twig" %}
            </div>
            
        </div>
    </div>
</section>

<script src="{{ asset('js/formation_index.js') }}"></script>
{% endblock %}

