
#profile {
    h1 {
        margin-bottom: 2em;
    }

    .row {
        margin: 1rem 0;
        width: 100%;

        .label {
            font-weight: bold;
            width: 20%;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1em;

        .infos {
        }

        .actions {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            height: 100%;

            &>div {
                margin-bottom: 1rem;
            }
        }
    }

    

}

#formation_index {

    .content {
        max-width: 90%;

        &>div:first-child {
            display: grid;
            grid-template-columns: auto 300px;

            form {
                margin-top: 1.5rem;
            }
        }
    }

    h4 {
        margin-top: 1rem;
        width: 90%;
        font-size: 1.1rem;
        text-align: center;
    }

    .list_formation {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
        grid-gap: 32px;
    }
    
    .card {
        box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2), 0 0.5px 1px rgba(168, 121, 121, 0.8);
        transition-property: box-shadow, transform;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
        background-color: #fff;
        color: #616161;
        border-radius: .25rem;
        box-sizing: unset;

        &:hover {
            border: 1px solid darkslateblue;
        }

        .card-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                width: 40%;
                padding: 1.2rem;
            }

            .footer {
                height: 2rem;
                display: flex;
                align-items: center;
                width: 100%;
                background-color: #3e2da542;
                justify-content: space-between;
                
                p {
                    color: darkslateblue;
                    margin: 0 1rem;
                }
            }
        }


    }

    .card:hover {
        box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
        transform: translate3d(0, -4px, 0);
    }

    .content:not(:last-child)  {
        margin-bottom: 1.5rem;
    }
}

#formation_new {

    h1 {
        text-align: center;
    }

    form {
        max-width: 800px;
        margin: 0 auto;

        #category-duration {
            display: grid;
            grid-template-columns: auto 100px;

            select {
                font-size: 1rem;
            }
        }
    }
}

#formation_show {

    .content {
        width: 80%;
        margin: 2rem auto 0 auto;
        
        h1 {
            color: darkslateblue;
            font-weight: bold;
        }

        textarea {
            width: 100%;
            resize: none;
            background: white;
            font-size: 1rem;
        }
    }

    video {
        margin: 1rem auto;
        width: 100%;
    }
}