@media screen and (max-width: 1200px) {
  header nav #menuNav {
    margin: 0 auto;
  }
  header nav #menuNav ul li {
    padding: 0.2rem 1rem;
  }

  #logo {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 992px) {

  header nav > ul {
    position: absolute;
    flex-direction: column;
  }

  header nav #menuNav ul li {
    padding: 0.2rem 1rem;
  }
}

@media screen and (max-width: 768px) {

  header nav {
    display: flex !important;

    #menuNav {
      margin: 0 0 0 0 !important;
      width: 100%;

      #burger {
        display: flex;
        font-size: 2.4rem;
        position: relative;
        top: 12px;
        margin-right: 10px;
      }

      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 60px;
        width: 100%;

        li {
          background-color: white;
          border-bottom: 1px solid #08112A;
          padding: 1rem 2rem;

          &:nth-child(1) {
            border-top: 1px solid #08112A;
          }

          a {
            border-left: none;
          }

        }

      }

    }

    #logo {
      position: relative;
      top: 11px;
      margin-left: 20px;
    }
  }

}

@media screen and (max-width: 540px) {

  header .wrapper > div {
    width: 60%;
    height: 40%;

    h1 {
      font-size: 1.4rem;
    }
    
  }

  #formation_index {

    .content {

      h1 {
        font-size: 1.8rem;
      }
    
      &>div:nth-child(1) {
        display: block;
      }
    } 
  }

  .content {
    max-width: 100%;
    // margin: 0 1rem;
  }

}