<header>
    <nav>
        <div id="menuNav">
            <div id="logo">
                <a href="index.php">videoFormation</a> 
            </div>
            <div id="burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            <ul>
                <li><a href="{{ path('app_user_profile')}}">Mon profil</a></li>

                <li>
                    {% if app.user %}
                    <a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
                    {% else %}
                    <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>