{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="content">
    <h1>Bienvenue sur votre page profil</h4>

    <div class="row">
        <h6 class="mb-0">Pseudo</h6>
        {{ user.pseudo }}
      </div>
      <hr>
      <div class="row">
          <h6 class="mb-0">Email</h6>
          {{ user.email }}
      </div>
      <hr>

      <div class="row">
          <a class="btn btn-info " target="__blank" href="{{ path('app_user_edit')}}">Edit</a>
      </div>
</div>
{% endblock %}
